# What in the World is Functional Programming?

 * Certain bugs are hard to re create bugs when doing object oriented programming.
 * Functional programming is a programming paradigm allows developers to write less error prone code
 by making smaller easily testable programs.
 * Functional programming brings the idea of mathematical functions.
# Imperative vs Declarative Programming
  * Imperative programming tells us how to get to some thing
  * Declarative programming explicitly what the thing is.
  * "A house a building with 4 walls and a roof" - Declarative
  * "A house is made by digging a hole, filling it with cement to make a foundation and then build walls and put a roof on top" - Imperative
  * Imperative
    * Set x to 0
    * Add first number in list to x
    * Repeat the second step for all elements of the list
    * Divide x by the length of the list
  * Declarative
    * X is the sum of all the elements in a list divided by it length

In [0]:
f=lambda x: sum(x)/len(x)

In [0]:
f([1,2,3,4])

2.5

In [0]:
def imp(someList):
  x=0
  for i in range(len(someList)):
    x+=someList[i]
  return x/len(someList)

In [0]:
imp([1,2,3,4])

2.5

# Immutability
* Most of the values in our code have to constant.
* This is kinda like how we treat variables in mathematics.
* Immutability is important because it saves from constant change of state in the program.
* We start with a constant set of data and then use functions to work with them.

# First Class Functions
  * Passing functions as arguments into other functions, creating a list of functions or even returning functions from functions allows tremendous flexibility.
  * This allows us to combine existing functions to create new functions.

# Separation of Data and Functions
* This idea is polar opposite to the idea of OOP where data and functions are wrapped into a class object.
* Data should be passed into a function and not have itself be changed and instead return a modified copy( pass by reference is default in python functions so this is somewhat easy).
* Classes allow functions to interact with member data indirectly to set up certain rules that allow consistency in data.
* In functional programming, data is represented through dictionaries and lists

# Deep Dive into First Class Functions

In [0]:
def sayHello():
  print('Hello!')

sayHello2=sayHello

sayHello2()

Hello!

In [0]:
def fetch_data_fake():# this function is only a decoy to use when developing so as to save time
  print('Connecting to some fake database and fetching data...')
  return {
      'name':'Hamza',
      'age':20
  }
def fetch_data_real():
  print('this is the actual function that will be used in production to fetch some real data')

In [0]:
import os

In [0]:
os.environ["MODE"]='dev' #initialized in the start

In [0]:
fetch_data=fetch_data_real if os.environ["MODE"] == 'prod' else fetch_data_fake#this is a ternary operator

In [0]:
fetch_data()

Connecting to some fake database and fetching data...

{'age': 20, 'name': 'Hamza'}

In [0]:
import math
add_one=lambda x: x+1
sub_one=lambda x:x-1
square=lambda x:x*x
function_list=[add_one,sub_one,square,math.sqrt]

In [0]:
n=3
for func in function_list:
  n=func(n)

In [0]:
n

3.0

In [0]:
def add(x,y):
  return x+y
def subtract(x,y):
  return x-y
def combine(func):
  return func(2,3)

print(combine(add))
print(combine(subtract))

5
-1

In [0]:
def create_multiplier(a):
  def multiplier(x):
    return x*a
  return multiplier

double=create_multiplier(2)
triple=create_multiplier(3)

In [0]:
double(3)

6

In [0]:
triple(3)

9

# Closure

In [0]:
def create_function():
  x=5
  def inner_function():
    print(f'x is {x}')
  return inner_function

In [0]:
f=create_function()

In [0]:
f()

x is 5

The inner function still had access to the variable that was in the parent function.

In [0]:
def create_counter():
  count=0
  def getCount():
    nonlocal count#the count we are using here is not a new variable local to this scope
    return count
  def increment():
    nonlocal count#the count we are using here is not a new variable local to this scope
    count+=1
  return (getCount,increment)

In [0]:
get_count, increment=create_counter()
print(get_count())
increment()
print(get_count())
increment()
print(get_count())

0
1
2

In [0]:
def create_iterator(someList):
  index=0
  '''
  def fetch():
    nonlocal someList,index
    print(someList[index])
  def next():
    nonlocal index
    index+=1
  '''
  def nextElement():
    nonlocal someList,index
    value=someList[index]
    index+=1
    return value
  return nextElement

In [0]:
nextFruit=create_iterator(['apple','orange','banana'])

In [0]:
print(nextFruit())
print(nextFruit())#here nextFruit is an iterator

apple
orange

In [0]:
def someOtherFunction(*args):
  for arg in args:
    print(arg)

In [0]:
someOtherFunction(1,2,3,4,'hello')

1
2
3
4
hello

# Map

In [0]:
someObjects=[
             {
                 'name':'Hamza',
                  'age':20
             },
             {
                 'name':'Vaisakh',
                  'age':20
             },
             {
                 'name':'Pranav',
                 'age':20
             }
]

In [0]:
def getName(obj):
  return obj['name']

In [0]:
names=map(getName,someObjects)

In [0]:
names=list(names)

In [9]:
names

['Hamza', 'Vaisakh', 'Pranav']

# Filter

In [0]:
def is_even(x):
  return x%2==0

someNumbers=[1,2,3,4,5,6,7,8]
evenNumbers=list(filter(is_even,someNumbers))

In [11]:
evenNumbers

[2, 4, 6, 8]

# Lambda

In [0]:
someLambda=lambda x:'even' if x%2==0 else 'odd'

In [13]:
someLambda(2)

'even'

In [14]:
someObjects

[{'age': 20, 'name': 'Hamza'},
 {'age': 20, 'name': 'Vaisakh'},
 {'age': 20, 'name': 'Pranav'}]

In [0]:
newAges=list(map(lambda x:x['age']+1 if len(x['name'])<=5 else x['age']-1,someObjects))

In [17]:
newAges

[21, 19, 19]

# List Comprehensions

In [0]:
someList=[i for i in range(0,100) if i%2==0 and i%3==0]

In [20]:
someList#multiples of 6

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

# Reduce

In [0]:
from functools import reduce
def get_sum(acc,curr):
  return acc+curr

someList=[1,2,3,4,5]
reduced=reduce(get_sum,someList,0)

In [23]:
reduced

15

In [0]:
import time

In [26]:
time.time()

1581402289.3457832

In [34]:
import random
mainList=[random.randint(1,10000) for i in range(1000000)]
def mapFunction(x):
  return x**2
import numpy as np
a=np.array(mainList)
#map
start=time.time()
b=list(map(mapFunction,mainList))
print(f'Map Time {time.time()-start}')
start=time.time()
c=a**2
print(f'Numpy Time {time.time()-start}')

Map Time 0.3205606937408447
Numpy Time 0.0025396347045898438